In [42]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime as dt,date,timedelta
import json
import re
from selenium.webdriver.common.keys import Keys
from parsel import Selector
from bs4 import BeautifulSoup

In [15]:
user = 'username'
password = 'password'

In [16]:
search_query = 'site:linkedin.com/in/ AND "Data Analyst" AND "Bangalore"'

In [17]:
browser = webdriver.Chrome('C:/Users/Hiveminds/Desktop/Work/honey/chromedriver.exe')
url = "https://www.linkedin.com/"
browser.get(url)
time.sleep(2)

In [18]:
browser.find_element_by_xpath('//*[@id="session_key"]').send_keys(user)
time.sleep(2)
browser.find_element_by_xpath('//*[@id="session_password"]').send_keys(password)
time.sleep(2)
browser.find_element_by_xpath('//*[@id="main-content"]/section[1]/div[2]/form/button').click()
time.sleep(5)

In [19]:
browser.get('https:www.google.com')  ## Goto Google
time.sleep(3)
browser.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(search_query)
time.sleep(0.5)
## Display all the Profiles
browser.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').click()

In [29]:
url_list=[]
elems = browser.find_elements_by_tag_name('a')
for elem in elems:
    href = elem.get_attribute('href')
    if href is not None:
        url_list.append(href)

In [30]:
linkedin_urls=[s for s in url_list if "https://in.linkedin.com" in s]
linkedin_urls=[s for s in linkedin_urls if "https://www.google.com/" not in s]
#linkedin_urls.remove('https://in.linkedin.com/in/rahulvijay1807')
top_five = linkedin_urls[:5] ## Select the Top 5 Profiles here

## Selenium -  to Extract Data

In [43]:
SCROLL_PAUSE_TIME = 2.0
names= []
final_skills = []
mail_ids = []
titles = []
final_followers = []
skill_list = []
company = []
education = []


for i in top_five:
    time.sleep(2)
    
    browser.get(i)
    browser.maximize_window()
    last_height = browser.execute_script("return document.body.scrollHeight")
    time.sleep(5)
    #browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    #time.sleep(5)
    soup = BeautifulSoup(browser.page_source,'lxml')
    time.sleep(10)

    ## name
    name = soup.title.text.split('|')[0].strip()
    names.append(name)
    
    time.sleep(5)
    
    ## company
    try:
        companies = browser.find_element_by_xpath('//*[@aria-label = "Current company"]').text
    except:
        companies ='Free lancer'
    company.append(companies)
    
    time.sleep(5)

    ## Education
    try:
        Education = browser.find_element_by_xpath('//*[@aria-label = "Education"]').text
    except:
        Education = 'Not Mentioned'
    education.append(Education)
    
    time.sleep(5)
    
    ## followers
    try:
        followers = browser.find_elements_by_xpath('//*[@class="align-self-center t-14 t-black--light"]')[0].text.split(' ')[0]
    except:
        followers = '0'
    final_followers.append(followers)
    
    time.sleep(5)
    
    #title
    title = browser.find_elements_by_xpath('//*[@class="text-body-medium break-words"]')[0].text
    titles.append(title)
    
    time.sleep(5)
    

datas = {'Name':names,'Title':titles,'Company':company,'Education':education,'Followers':final_followers}
final=pd.DataFrame(datas)
final['Job'] = "Data Analyst"

In [45]:
final['URL'] = top_five
final

,Name,Title,Company,Education,Followers,Job,URL
0,(1) Shweta Nayak,Data Analyst at Intel | Analytics | Data Gover...,Intel Corporation,International Institute of Information Technol...,0,Data Analyst,https://in.linkedin.com/in/naikshweta
1,Bhagavathi Chandrasekhar,Data Analyst at Nielsen,Nielsen,Pondicherry Central University,871,Data Analyst,https://in.linkedin.com/in/bhagavathi-chandras...
2,Ankit Prakash,Data Analyst at JCPenney,JCPenney,Manipal Academy of Higher Education,"2,121",Data Analyst,https://in.linkedin.com/in/ankit-prakash-a793b245
3,Nikhil Patil,Data Analyst at Flipkart | MSc. Statistics,Flipkart,North Maharashtra University,"3,267",Data Analyst,https://in.linkedin.com/in/nikhil-patil-902337145
4,Arun Kumar,Bangalore University,Accenture,Bangalore University,254,Data Analyst,https://in.linkedin.com/in/arun-kumar-416112154